<footer>
    <div class="text-center">
    <p>CST336 Internet Programming. 2025. Team 2.</p>
    <p><b>Disclaimer:</b> This information in this webpage is real.</p>
    <p>It is used for academic purposes only.</p>
    </div>
</footer>